
/* Styling for a blog post */

.post {
    border-bottom: 1px dotted #888888;
}
.post-header {
    margin-left: 0%
}

.post-content * {
}

.post-footer, .post-footer * {
    color: #188888;
    font-size: small;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align:right;
}


/* Blog post Comments */
.post .comments {
    padding: 5%;
    border: 1px dotted #888888;
}

.post-header h1 a {
color:#333333}

