html, body, h1, h2, h3, h4, h5, h6, h7
{
  font-family: Verdana, Arial, Sans Serif;
/*  font-size: small;*/
  font-weight: 100;
  text-align:center;
  background: #f7f6f3;
  color: black;
}


/* Main navigation */

#main-nav {padding-top: 60px;}
#main-nav li:first-child {margin-left: 0;}
#main-nav li {margin: 0 1.5em;}
#main-nav li.current-tab a {color: #333;}
#main-nav li.current-tab a {border-bottom: 2px solid #94CC5F;}
#main-nav a {
	font-size: 1.8em;
	line-height: 2em;
	padding-bottom: 2px;
}
#main-nav a:hover {color: #002;}


ul.tabbed li {
	list-style: none;
	margin: 0;
    /*display: inline;*/

}


/* Content */

#content {}
/* from other dude's site:

/* Main */
/*
 * .main {margin: 24px 0;}

.main#main-two-columns {background: url('img/main-two-columns.gif') repeat-y right top;}
.main#main-two-columns-left {background: url('img/main-two-columns-left.gif') repeat-y left top;}
.main#main-two-columns #main-content, .main#main-two-columns-left #main-content {width: 450px;text-align: justify}


*/


