<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Alex Alexander D. Gaudio machine deep learning computer science AI artificial intelligence signal processing vison medical image analysis researcher" />
    <meta name="description" content="
    Alex Gaudio researches explainable machine learning for medical image analysis while pursuing a dual degree PhD at Carnegie Mellon University and at the University of Porto.  He also co-founded a non-profit, NYC Makerspace, to bring together diverse communities of people, give them advanced tools and university level training for free, and ignite individuals with the life-long passions to have fun by innovating, by teaching others and by learning.  Previously, he was a data scientist and engineer in New York City for 7 years.  He studied in jazz performance and composition at Bard College.  Alex is fascinated by the ways people create and interpret their life paths.  Visionary people embrace challenge by inventing opportunities and pursuing ideas.  Their success is achieved not by meeting requirements or showing credentials, but by giving others the ability to appreciate, use and adapt the things they love most.


    Alex's 5 year plan is

      - to manage a research lab and design next generation machine learning, vision, and signal processing, primarily emphasizing medical image analysis
      - to incubate a community of uncommonly diverse individuals that applies our research to the real world, especially for the benefit of underserved communities
      - to teach people about learning machines, both at the rigorous university level standard and less formally for the local community


    His current research interests are:

      Explainable Deep and Machine Learning,
      Computer Vision,
      Signal Processing,
      Medical Image Analysis


    <meta name="author" content="Alex Gaudio" />
    <meta name="copywrite" content="2010-2021" />

    {% comment %} <title>Alex Gaudio - {{ page.title }}</title> {% endcomment %}
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}" type="text/css"/>
    <link rel="stylesheet" href="{{ "/css/code.css" | prepend: site.baseurl }}" type="text/css"/>
    <link rel="stylesheet" href="{{ "/css/blog_style.css" | prepend: site.baseurl }}" type="text/css"/>
</head>
