<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Alex Alexander D. Dillon Gaudio computer science data science machine learning scientific computing code music jazz programming developer engineer programmer artist projects resume blog contact python github" />
    <meta name="description" content="Alexander Gaudio - computer scientist, software developer, engineer, and artist" {% comment %} "interested in the interplay of science and art as it relates to investigating problems in our world.  Looking for interesting people, projects, conversations, and constructive criticism." {% endcomment %}/>
    <meta name="author" content="Alexander D. Gaudio" />
    <meta name="copywrite" content="2010-2013" />

    {% comment %} <title>Alex Gaudio - {{ page.title }}</title> {% endcomment %}
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}" type="text/css"/>
    <link rel="stylesheet" href="{{ "/css/code.css" | prepend: site.baseurl }}" type="text/css"/>
    <link rel="stylesheet" href="{{ "/css/blog_style.css" | prepend: site.baseurl }}" type="text/css"/>
</head>
