<div class="icons">
  <a href='https://github.com/adgaudio'><img src="/img/github.gif" alt="GitHub"/></a>
  <a href='http://thingiverse.com/adgaudio'><img src="/img/thingiverse.png" alt="Thingiverse"/></a>
  <a href='http://stackoverflow.com/users/824039/alex-gaudio'><img src="/img/stackoverflow.png" alt="StackOverflow"/></a>
  <a href="http://www.twitter.com/adgaudio"><img src="/img/twitter.png" alt="Twitter"/></a>
  <a href='http://www.linkedin.com/in/adgaudio'><img src="/img/linkedin.jpg" alt="LinkedIn"/></a>
  <a href='http://www.facebook.com/adgaudio'><img src="/img/facebook.gif" alt="Facebook"/></a>
</div>
