<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Alex Alexander D. Dillon Gaudio computer science data science machine learning scientific computing code music jazz programming developer engineer programmer artist projects resume blog contact python github" />
    <meta name="description" content="Alexander Gaudio - computer scientist, software developer, engineer, and artist" {% comment %} "interested in the interplay of science and art as it relates to investigating problems in our world.  Looking for interesting people, projects, conversations, and constructive criticism." {% endcomment %}/>
    <meta name="author" content="Alexander D. Gaudio" />
    <meta name="copywrite" content="2010-2013" />

    <title>Alex Gaudio - {{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.url }}/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="{{ site.url }}/css/code.css" type="text/css"/>
    <link rel="stylesheet" href="{{ site.url }}/css/blog_style.css" type="text/css"/>
</head>
